@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Kdam+Thmor+Pro&display=swap');

:root { 
    --font-family: Inter;
    --font-weight: 400;
    --font-size: 21px;
    --btn-border-radius: 80pt;
    --btn-color: var(--color);
    --background: #ffffff;
    --button-color: white;
    --color: rgba(120, 120, 120, 1);
    --heading-color: black;
    --sidebar-menu-background-dark: rgba(0, 0, 0, 1);
    --sidebar-menu-background-light: rgba(244, 244, 244, 1);
    --sidebar-menu-color-dark: white;
    --background-color: Canvas;
    --foreground-color: CanvasText;
    --generic-header-aspect-ratio: 16/8;
    --context-menu-background: rgba(255, 255, 255, .99);
    --generic-header-background-color: rgba(127, 127, 127, 0);
    --generic-header-background-image: none;
    --button-border-radius:28pt;
    --gold-h: 60;
    --gold-s: 40%;
    --gold-l: 80%;
    --blue-h: 250;
    --blue-s: 90%;
    --blue-l: 60%;
    --green-h: 150deg;
    --green-s: 90%;
    --green-l: 40%;
    --gray: rgba(127, 127, 127, 1);
    --primary-h: var(--green-h);
    --primary-s: var(--green-s);
    --primary-l: var(--green-l);

    --success-h: var(--primary-h);
    --success-s: var(--primary-s);
    --success-l: var(--primary-l);
    --warning-h: 250;
    --warning-s: 90%;
    --warning-l: 50%;
    --danger-h: 0; 
    --danger-s: 100%;
    --danger-l: 50%;
    --primary:  #0077ff;
    --primary-light: color-mix(in srgb, var(--primary), #cccccc 30%);
    --info: #0d72ea;
    --secondary: #33aa33;
    --success: hsl(var(--success-h), var(--success-s), var(--success-l));
    --warning: #ff8800;
    --danger: hsl(var(--danger-h), var(--danger-s), var(--danger-l));
    --form-control-border-radius: 3pt;
    --modal-background: white;
    --modal-color: black;
    --congratulations-bg-h: var(--primary-h);
    --congratulations-bg-s: calc(var(--primary-s) - 20%);
    --congratulations-bg-l: var(--primary-l);
    --nav-header-height: 60pt;
    --sidebar-menu-width: 100pt;
    --nav-background: black;
    --nav-foreground: white;
    --primary-color: black;
    --color-scheme: light dark;
    color-scheme: var(--color-scheme); 
    accent-color: var(--primary);
    --area-color: color-mix(in srgb, var(--primary), transparent 80%);
    --area-fill: linear-gradient(90deg, var(--area-color), transparent);
    --alert-border-radius: 5pt;
    --well-color: #888;
}

.sp-dark {
    --background: #111;
    --color: #aaa;
    --heading-color: white;
    color-scheme: dark;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--color);
    background: var(--background);
}

h1, h2, h3, h4 {
    color: var(--heading-color);
}