@import url('./three-dots.css');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Monoton&family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url("./icon-bars.css");
/*@import url("./cool.css");*/

// Components
//
// Components are ingredients of our design system. They may be made up of smaller groups of styles.
//
// Styleguide Utils

* {
  letter-spacing: 0cm !important;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/plus_jakarta_sans_bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/plus_jakarta_sans_extra_bold.ttf");
  font-weight: bolder;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/plus_jakarta_sans_regular.ttf");
  font-weight: normal;
}

.edit-node-header {
  border-bottom: 1px solid rgba(127, 127, 127, .2);
}

.edit-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.preview {
  background: rgba(44, 44, 44, 1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary {
  color: var(--primary);
}

.sidebar-menu {
  flex: 0 0 200pt;
}

.with-sticky-sidebar {
  --nav-background: transparent;
  --nav-foreground: CanvasText;
  overflow: hidden;
}

html.dark {
  --color-scheme: dark;
}

html.light {
  --color-scheme: light;
}

.sp-link {
  color: #33aabb;
}

.sp-link:hover {
  color: #338833;
  background: #ddffdd;
}

html.light.colorful body {
  --sidebar-menu-background: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 75%));
  --background: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 90%));
  --color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 50%));
}

html.dark.colorful body {
  --sidebar-menu-background: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 73%));
  --background: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 74%));
  --color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 10%));

}

.with-sticky-sidebar .nav-header {
  display: none;
}

.content-editable {
  display: block;
  width: 100%;
  min-height: 300pt;
}

.content-editable:focus {
  outline: none;
}

@media screen and (max-width: 120pt) {
  :root {
    --sidebar-menu-width: 100%;
  }
}

.select {
  overflow: visible;
  max-height: 30pt;
}

h3,
h3 * {
  font-size: 1.25rem !important;
}

h1 {
  opacity: 1;
  font-size: 2rem;
}

@media screen {
  :root {
    --card-background: transparent;
    --generic-header-background-color: rgba(127, 127, 127, .0);
    --generic-header-background-image: none;
  }

  input {
    background: none;
    border: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  margin: 0;
  padding: 0;
}

* {
  letter-spacing: -0.05em !important;

}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--color);
  background: var(--background);
}

.categories-grid {
  grid-template-columns: auto auto auto;

}

@media screen and (max-width: 728pt) {
  .categories-grid {
    grid-template-columns: auto auto;
  }
}

/*
@media screen and (prefers-color-scheme: light) {
  .generic-header-backdrop[data-is-playing="true"] {
    background: black;
  }
} */
body {
  user-select: none;
}

a,
.link,
button {
  transition: transform 0.1s;
}

.edit-node-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20pt;
  position: relative;
}

.node-view {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}

.node-view-main {
  flex: 1;
}

.node-editor-header {
  margin-top: 20pt;
  gap: 18pt;
}

.react-gravatar {
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.skyloft-banner {
  display: block;
}

.skyloft-icon {
  display: block;
}

@media screen and (min-width: 720pt) {
  .md:visible {
    display: block;
  }

  .skyloft-banner {
    display: block;
  }

  .skyloft-icon {
    display: none;
  }
}

.with-sticky-sidebar .skyloft-banner {
  filter: invert(1)
}

.node-table-row {
  transition: padding-top 1s, padding-bottom 0s, height 1s, transform 1s, opacity 1s;


}

.broadcast-schedule-row {
  display: grid;
  grid-template-columns: 10% 20% auto;
}

.button-large {
  padding: 10pt 20pt;
  font-size: 3rem;
}

select {
  border: none;
  padding: 10pt;
}

.mobile-header {
  display: none;
  background: black;
}


.bg-dark {
  background: #222;
  --color: white;
}

tr.sum td {
  border-top: 1px solid currentColor;
  font-weight: bold;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33pt;
}