body {
  font-family: "Helvetica" !important;
  font-size: unset;
  font-weight: unset;
}

.button-filled {
  color: color-contrast(var(--button-color) vs black, black, white);
  text-shadow: 0 1px 0 color-contrast(var(--button-color) vs black, white, black);
  background: linear-gradient(45deg, color-mix(in srgb, var(--button-color), white 0%), color-mix(in srgb, var(--button-color), blue 35%));
  /*border: 1px solid var(--button-color);*/
  border: none; 
  color: white; 
}
.button-filled:hover {
  box-shadow: 0 2pt 9pt var(--primary);
}
.button-primary, .background-primary {
  background: linear-gradient(45deg, color-mix(in srgb, var(--primary), white 30%) 20%, color-mix(in srgb, var(--secondary), black 20%), color-mix(in srgb, var(--secondary), white 35%)/*, color-mix(in srgb, var(--secondary), black )*/);
}
.button-danger, .background-primary {
  background: linear-gradient(45deg, color-mix(in srgb, var(--danger), white  0%) 20%, color-mix(in srgb, var(--danger), blue 35%)/*, color-mix(in srgb, var(--secondary), black )*/);
}
.form-control {
  border-left: 1px solid rgba(127, 127, 127, 1);
  
  border-top: 1px solid rgba(127, 127, 127, 1);
  box-shadow: inset 1px 1px 5px rgba(127, 127, 127, .5);
} 

.label-type {
  background: linear-gradient(90deg, color-mix(in srgb, var(--primary), white 0%), color-mix(in srgb, var(--secondary), white 35%));
  -webkit-background-clip: text;  
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}