.sp-flat {
    .btn, .button {
        background: var(--background);
        color: var(--btn-color);
       
    }
    .button-filled, .btn-filled, .btn-solid, .button-solid {
        background: var(--btn-color);
        color: white;
    }
    .button-outline, .btn-outline, .btn-bordered, .button-bordered {
        border: 1px solid color-mix(in srgb, var(--color), transparent 50%);
        color: var(--btn-color);
    }
}