// Components
//
// Components are ingredients of our design system. They may be made up of smaller groups of styles.
//
// Styleguide Components.forms

@import "control";

button,
select,
input,
label {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8pt;
    align-items: flex-start;
}

.form-control-set {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5pt;
}

input {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}