@import url("./components/index.css");
@import url("./vendor/bootstrap.grid.css");
@import url("./layout/index.css");
@import url("./variables.css");

#__next > div {

  left: 0;
  top: 0;
  position: absolute;

}
