// Buttons
//
// Styleguide Components.buttons

// Button
//
// Markup:
// <button class="button {{modifier_class}}">Button</button>
// <button class="button button-filled {{modifier_class}}">Button</button>
// <button class="button button-semi-3d {{modifier_class}}">Button</button>
// <button class="button button-3d {{modifier_class}}">Button</button>
// <button class="button button-gradient {{modifier_class}}">Button</button>
// 
// .button-primary - primary button
// .button-secondary - primary button
// .button-danger - primary button
// .button-info - primary button
//
// Styleguide Components.buttons.button

button, .button, .btn {
    color: var(--color);
    border: none;
    background: none;
    font-weight: bold;
    border-radius: var(--button-border-radius);
    border: none;
    text-transform: capitalize;
    background: transparent; 
    color: black;
    box-shadow: 0 1pt 1pt 0pt color-mix(in srgb, black, transparent 90%);

    border: 1pt solid color-mix(in oklab, var(--button-color), black 3%);
    padding: 10pt 20pt;

    &.button-primary {
        --button-color: var(--primary);
        --color: var(--primary-color) !important;
        color: var(--primary-color) !important;
        font-weight: bold;
    }

    &.button-secondary {
        --button-color: var(--secondary);
    }

    &.button-success {
        --button-color: var(--success);
        --color: white;
    }

    &.button-danger {
        --button-color: var(--danger);
        --color: white;
    }

    &.button-outline {
        border: 1px solid rgba(127, 127, 127, .3);
        color: var(--button-color);
        border: 1px solid rgba(127, 127, 127, .5) !important;
        /* box-shadow: 0 2pt 5px rgba(127, 127, 127, .2); */
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    &:active {
        cursor: pointer;
        transform: scale(0.98);
        opacity: 0.5;
    }

    &.button-shadow {
        --shadow-color: color-mix(in oklab, transparent 90%, var(--button-color));
    }

    &.button-default {
        --button-color: var(--color);
        --bg: color-mix(in srgb, var(--button-color), var(--background) 95%);
    }

    &.button-small {
        padding: 5pt 8pt;
    }
    
    &.button-shadowed {
        box-shadow: var(--button-color);
    }
    &.button-filled {
        color: white;
        background: var(--button-color);
        border: none;
    }
    &.button-semi-3d {
        background: linear-gradient(-0deg, color-mix(in srgb, var(--button-color), white 50%), color-mix(in srgb, var(--button-color), white 80%));
        box-shadow: 0 2pt 2pt 0pt color-mix(in srgb, black, transparent 90%);
        border: none;
        color: white;
    }
    &.button-precise {
        background: var(--primary);
        box-shadow: 0 0pt 0 0pt var(--primary);
        border: 2pt solid black;
    }
    &.button-gradient {
        background: linear-gradient(-45deg, var(--button-color), hsl(from var(--button-color) calc(h + 90) s l)) !important;
        border: none;
        box-shadow: 0 8pt 5pt -5pt color-mix(in srgb, var(--primary), transparent 50%);
        color: white;
    }
    
    &.button-solid {
        background: rgba(127, 127, 127, 0.1);
        color: var(--button-color);
    }

    &.button-3d,
    &.btn-3d {

       
    }

    &.button-cta {
        --button-color: var(--background-color);
    }
}

 
.button,
.link,
.text-link,
.nav-link,
.a {
    letter-spacing: 1.2pt;
}
  
.button,
.link,
.text-link,
h1,
h2,
h3,
h4,
h5 h6,
label {
    letter-spacing: 1.2px;
}

 
