// Generic Header
//
// Generic header
//
// Styleguide Components.generic-header

// Generic Header
//
// Generic header
//
// Example: <div class="generic-header"></div>

.generic-header {
    position: relative;
    aspect-ratio: var(--generic-header-aspect-ratio);
    width: 100%;
    justify-content: flex-end;
}

// Generic Header
//
// Generic header
//
// Example: <div class="generic-header-overlay"></div>

.generic-header-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

// Generic Header
//
// Generic header
//
// Example: <div class="generic-header-backdrop"></div>

.generic-header-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    aspect-ratio: var(--generic-header-aspect-ratio);
}

// Generic Header
//
// Generic header
//
// Example: <div class="generic-header-backdrop"></div>

.generic-header-backdrop[data-is-playing="true"] {
    background: transparent;
    opacity: 1;
}

// Generic Backdrop image
//
// Generic Backdrop image
//
// Example: <div class="generic-header-backdrop-image"></div>

.generic-header-backdrop-background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: var(--generic-header-aspect-ratio);
    mask-image: linear-gradient(0deg, transparent, black 21%);
    background-image: var(--generic-header-background-image);
    background-size: cover;
}

// Generic Backgroup color
//
// Generic Backdrop image
//
// Example: <div class="generic-header-background-color"></div>

.generic-header-backdrop-background-color {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(0deg, transparent, black);
    background-color: var(--generic-header-background-color);
    background-size: cover;
}

.generic-header-image {
    aspect-ratio: var(--generic-header-aspect-ratio);
    width: 100%;
    background-size: cover;
}