@keyframes pulser-scale {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse-scale {
    0% {
        transform: scale(0.5);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0.5);
    }
}


@keyframes pulse-opacity {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes pulse-x {
    0% {
        transform: scale(calc(0.5 + (var(--pulse-scale) * (counter(pulse) 0))));
        opacity: 1;
    }

    25% {
        transform: scale(calc(0.5 + (var(--pulse-scale) * (counter(pulse) + 1))));
        opacity: 1;
    }

    50% {
        transform: scale(calc(0.5 + (var(--pulse-scale) * (counter(pulse) + 2))));
        opacity: calc(1 * (counter(pulse) / 2));
    }

    75% {
        transform: scale(calc(0.5 + (var(--pulse-scale) * (counter(pulse) + 2))));
        opacity: calc(1 * (counter(pulse) + 2));
    }

    100% {
        transform: scale(calc(0.5 + (var(--pulse-scale) * (counter(pulse) + 3))));
        opacity: 1;
    }
}

@keyframes pulse-y {
    0% {
        transform: scale(calc(1 + (var(--pulse-scale) * (counter(pulse) + 1))));
        opacity: 1;
    }

    33% {
        transform: scale(calc(1 + (var(--pulse-scale) * (counter(pulse) + 2))));
        opacity: 1;
    }

    33% {
        transform: scale(calc(1 + (var(--pulse-scale) * (counter(pulse) + 3))));
        opacity: 1;
    }
}


.pulse-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5pt;
    animation: pulser-scale 2.5s infinite ease-in-out;

    --dots: 3;

}

.pulse-dots .dot {
    counter-increment: pulse;
    width: 10pt;
    height: 10pt;
    border-radius: 100%;
    background: rgba(100, 100, 100, 1);
    animation: pulse-opacity 0.5s infinite ease-in-out, pulse-scale 2s infinite ease-in-out;
    transform: scale(0.5);
    opacity: 0.5;
    animation-delay: calc(var(--number) * 0.25s);
}