.table {
    border-collapse: collapse;
}

.table tbody tr td {
    border-bottom: 1pt solid rgba(127, 127, 127, .1);
    padding: 10pt;
}

.table thead th {
    padding: 20pt;
}

.table thead tr th {
    border-bottom: 1pt solid rgba(127, 127, 127, .1);
    color: rgba(127, 127, 127, .9)
}

.table {
    width: 100%;
}


.table-empty-modal {
    position: relative;
    width: 100%;
}

.table-empty-modal {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8pt;
    text-align: center;
    gap: 30pt;
    padding: 40pt;
}

.table-empty-modal-area {
    padding: 1pt;
    background: rgba(127, 127, 127, .1) !important;
    padding: 0;
    width: 100%;
    z-index: 1;
}

.table-empty-modal-backdrop {
    position: relative;
    width: 100%;
}

.table-empty-modal-area {
    height: 200pt;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16/9;
}

.node-table-row:hover td,
.node-row {
    background: rgba(127, 127, 127, .05);
}

.node-table-row:hover .context-menu-button-icon {
    visibility: visible;
}

.table tr:hover td {
    background: rgba(127, 127, 127, .1);
} 