.sp-modern {
    .button, .btn {
       
    }
    .button-filled, .btn-filled {
        background: linear-gradient(-45deg, var(--btn-color), hsl(from var(--btn-color) calc(h + 90) s l));
        border: none;
        box-shadow: 0 8pt 5pt -5pt color-mix(in srgb, var(--primary), transparent 50%);
        color: white;
    }
}