.sp-core {
    .btn, .button {
        border: none;
        background: none;
        color: var(--btn-color);
        padding: 10pt 30pt;
        border-radius: var(--btn-border-radius);
        font-weight: 700;
        cursor: pointer;
    }
    .button-outline, .btn-outline, .btn-bordered, .button-bordered {
        border: var(--btn-color);
        color: var(--btn-color);
    }
    .button-alt, .btn-alt  {
        background: color-mix(in srgb, var(--btn-color), transparent 90%) !important;
        color: var(--btn-color);
    }
    .btn-filled, .button-filled {
        background: var(--btn-color);
        color: white;
    }
    .btn-default, .button-default {
        --btn-color: #aaa;
        color: black;
    }
    .btn-primary, .button-primary {
        --btn-color: var(--primary);
    }
    .btn-success, .button-success {
        --btn-color: var(--success);
    }
    .btn-danger, .button-danger {
        --btn-color: var(--danger);
    }
    .btn-warning, .button-warning {
        --btn-color: var(--warning);
    }
    .btn-info, .button-info {
        --btn-color: var(--info);
    }
    .button-processing {
      opacity: 0.9;
    }
    .button:hover, .btn:hover {
        transform: scale(1.05);
    }
    .button:active, .btn:active {
        transform: scale(0.95);
    }
}