.skeleton {
    background: linear-gradient(140deg, rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.3));
    width: 30pt;
    height: 20pt;
}
.table-skeleton {
    opacity: 0.2  ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}